<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assembly">

<link name="world"/>
  <!-- Base link shared by all -->
  <link name="base">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1e-6" ixy="0.0" ixz="0.0" iyy="1e-6" iyz="0.0" izz="1e-6"/>
    </inertial>
  </link>
    <!-- Fix base_link to the Gazebo world -->
  <joint name="base_fixed_to_world" type="fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Include my_second_robot -->
  <xacro:include filename="$(find my_second_robot)/urdf/robot.urdf"/>
  <joint name="robot_to_base" type="fixed">
    <parent link="base"/>
    <child link="base_link"/>
    <origin xyz="2 0 0" rpy="0 0 3.14"/>
  </joint>

  <!-- Include screw_model -->
  <xacro:include filename="$(find my_second_robot)/urdf/screws.urdf"/>
  <joint name="box_to_base" type="fixed">
    <parent link="base"/>
    <child link="box"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo Plugin for ros2_control -->
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find my_second_robot)/config/ros2_control_config.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
